<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merch Database</title>
</head>
<body>
    <h1>Current Merchandise</h1>

    <form action = "{{domain}}/update-database" method = "POST">
        <div id = item-container>
        {% for item in merch %}
            <label>Item Id:</label>
            <input type="text" name="id" value="{{item.id}}" readonly><br>

            {% for lang in languages %}
            <input type="button" onclick="switchLanguageFields('{{lang}}')" value="{{lang}}">
            {% endfor %}
            <br>

            <label>Item Name:</label>
            <input type="text" name="name" value="{{item.name}}"><br>

            <label>Item Price:</label>
            <input type="text" name="price" value="{{item.price}}"><br>

            <label>Item Image Sources:</label>
            {% set y = [] %}
            {% for image in item.images %}
            <div style="display: none;">
                {{ y.append(image.imageLink) }}
            </div>
            {% endfor %}
            {% set images = y|join(", ") %}
            <input type="text" name="imageLink" value="{{ images }}"><br>

            {% for lang in languages %}
                {% set translation = item.translations[lang] %}
                {% set sizes_translation = item.sizes[lang] %}
            <div class="translation" id="translation_{{lang}}">
                <label>Item Description:</label>
                <input type="text" name="description_{{lang}}" value="{{translation.description}}"><br>

                <label>Item Long Description:</label><br>
                <textarea rows="2" cols="50" name="long_description_{{lang}}">{{translation.long_description}}</textarea><br>

                <label>Manufacturing Description:</label><br>
                <textarea rows="2" cols="50" name="manufacturing_description_{{lang}}">{{translation.manufacturing_description}}</textarea><br>

                <label>Care Instructions:</label><br>
                <textarea rows="2" cols="50" name="care_instructions_{{lang}}">{{translation.care_instructions}}</textarea><br>

                <label>Available Sizes:</label>
                <!-- Extract sizes -->
                {% set x = [] %}
                {% for size in sizes_translation %}
                <div style="display: none;">
                    {{ x.append(size.size) }}
                </div>
                {% endfor %}
                {% set sizes = x|join(", ") %}
                <input type="text" name="sizes_{{lang}}" value="{{ sizes }}"><br>
            </div>
            {% endfor %}

            <label>Item Quantity:</label>
            <input type="text" name="quantity" value="{{item.quantity}}"><br>

            <label>Availability:</label>
            <input type="text" name="isAvailable" value="{{item.isAvailable}}"><br>

            <label>Remove:</label>
            <input type="text" name="remove" value="false"><br><br><br><br>
        {% endfor %}
        </div><br><br>
        <input type="button" onclick="addItem()" value="Add">
        <input type = "submit" value = "Submit" />
    </form>
    <script>
        switchLanguageFields('en')

        {% if merch is defined and merch|length %}
            var i = {{merch[merch|length-1].id}} + 1;
        {% else %}
            var i = 0;
        {% endif %}
        function addItem() {
            let template = `
            <br><br>
            <label>Item Id:</label>
            <input type="text" name="id" value="${i}"readonly><br>

            <label>Item Name:</label>
            <input type="text" name="name"><br>

            <label>Item Price:</label>
            <input type="text" name="price"><br>

            <label>Item Image Source:</label>
            <input type="text" name="imageLink"><br>

            <label>Item Description:</label>
            <input type="text" name="description"><br>

            <label>Item Long Description</label><br>
            <textarea rows="2" cols="50" name="long_description" placeholder="This is the default text"></textarea><br>

            <label>Manufacturing Description</label><br>
            <textarea rows="2" cols="50" name="manufacturing_description" placeholder="This is the default text"></textarea><br>

            <label>Care Instructions</label><br>
            <textarea rows="2" cols="50" name="care_instructions" placeholder="Wash and care instructions"></textarea><br>

            <label>Available Sizes:</label>
            <input type="text" name="sizes"><br>

            <label>Item Quantity:</label>
            <input type="text" name="quantity"><br>

            <label>Availability:</label>
            <input type="text" name="isAvailable"><br>
            `

            let container = document.getElementById('item-container');
            let div = document.createElement('div');
            div.innerHTML = template;
            container.appendChild(div);

            i++;
        }

        // Set visible language fields
        function switchLanguageFields(lang) {
            var translation_container = document.getElementById('translation_' + lang);
            var translations = document.getElementsByClassName('translation');

            for (var i = 0; i < translations.length; i++) {
                translations[i].style.display = "none";
            }

            translation_container.style.display = 'block';
        }
    </script>
</body>
</html>