{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="{{url_for('static', filename='scripts/shop_carousel.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='styles/store/store.css')}}">

<div class="shop">
    <!-- Background text and shop buttons -->
    <div class="shopItem">
        <div class="addRemoveButtons">
            <input id="addButton" class="cartButton" type="image" onclick="getParamsAndAddToCart()"
                   src="{{url_for('static', filename='assets/math_plus.svg')}}"/>
        </div>

        <img src="{{url_for('static', filename='assets/circle_and_line.svg')}}" class="descriptorLine">

        <!-- Shop carousel items -->
        <div id = "merchList">
        {% if available_merch|length > 0 %}
        {% for item in available_merch %}
            {% set merch_index = loop.index %}
            <div class="merch">
                <div class="itemProperties">
                    <img src="{{url_for('static', filename=item.imageLink[0].imageLink)}}" class="merchImage" id="itemImage">
                    <h2 class="itemDescriptor" id="itemId">{{item.id}}</h2>
                    <h2 class="name" id="itemName">{{item.name}}&ndash; <b>${{'%0.2f' % item.price}}</b></h2>
                    <h2 class="itemDescriptor price" id="itemPrice">${{'%0.2f' % item.price}}</h2>
                    <h2 class="itemDescriptor" id="itemMaxQuantity">{{item.quantity}}</h2>
                    <h2 class="itemDescriptor" id="itemSize">{% if item.sizes|length == 0 %} None {% else %} Undetermined {% endif %}</h2>
                </div>
                <div class="visibleItemDescription" id="visibleDescriptions">
                    <h2 class="descriptionText" id="itemDescription">{% if item.description == 'None' %}&nbsp{% else %}{{item.description}}{% endif %}</h2><br>
                    <h2 class="descriptionText" id="itemLongDescription">{% if item.long_description == 'None' %}&nbsp{% else %}{{item.long_description}}{% endif %}</h2><br>
                    <h2 class="descriptionText" id="itemManufacturingDescription">{% if item.manufacturing_description =='None' %}&nbsp{% else %}{{item.manufacturing_description}}{% endif %}</h2><br>
                    <h2 class="descriptionText" id="itemCareInstructions">{% if item.care_instructions == 'None' %}&nbsp{% else %}{{item.care_instructions}}{% endif %}</h2><br>
                    <div class="sizeButtonGroup" id="itemSizeButtonGroup">
                        <!-- Determine size buttons based on available sizes -->
                        {% for size_object in item.sizes %}
                            {% if size_object is defined and size_object.size|length %}
                                {% if loop.index == 1 %}
                        <label class="sizeButtonLabel firstSizeButton">
                            <input type="radio" name="sizeOption{{merch_index}}" autocomplete="off" value="{{size_object.size}}" class="sizeButton" checked="checked">
                            <div class="sizeButtonStyle firstSizeButton">
                                {% elif loop.index == item.sizes|length %}
                        <label class="sizeButtonLabel lastSizeButton">
                            <input type="radio" name="sizeOption{{merch_index}}" autocomplete="off" value="{{size_object.size}}" class="sizeButton">
                            <div class="sizeButtonStyle lastSizeButton">
                                {% else %}
                        <label class="sizeButtonLabel">
                            <input type="radio" name="sizeOption{{merch_index}}" autocomplete="off" value="{{size_object.size}}" class="sizeButton">
                            <div class="sizeButtonStyle">
                                {% endif %}
                                <h4 class="sizeButtonText">{{size_object.size}}</h4>
                            </div>
                        </label>
                            {% endif %}
                        {% endfor %}
				    </div>
                </div>
                {% if item.quantity <= 0 %}
                <h2 class="soldOutText" id="soldText">SOLD OUT</h2>
                {% endif %}
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Start the shop carousel -->
<script>showMerch(0);</script>
</div>

<script>
    setAssetPath("{{url_for('static', filename='assets/')}}");
    loadCart();
    setDomain("{{domain}}")

    if (cartItems != null) {
        regenerateCartList();
        setCheckoutButton();
    } else {
        setCheckoutButton();
    }

    shopCarousel.setTranslation();
</script>
{% endblock %}
