<html>
    <head>
		<title>{{ title }}</title>
		<!-- TODO remove when not debugging -->
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="Expires" CONTENT="-1">
    </head>
	<!-- url_for finds filepath for stylesheet -->
	<link rel="stylesheet" href="{{url_for('static', filename='sank_home.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    <body>
		<!-- creation of navigation bar -->
		<div class="navigation-bar">
			<!-- logo for quick home navigation -->
			<a href="{{url_for('main.home')}}">
				<img class="logo" src="{{url_for('static', filename='assets/Sank_Chew_Air_E_color_logo.svg')}}"
					 width="50px" height="50px"/>
			</a>
			<ul>
				<!-- list all pages on the website -->
			{%for page in pages%}
				<li><a href="{{url_for(page.link)}}">{{page.name}}</a></li>
			{%endfor%}
			</ul>
		</div>
		{% block content %}
		{% endblock %}
    </body>
</html>