<html>
    <head>
		<title>{{ title }}</title>
		<!-- TODO remove when not debugging -->
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="Expires" CONTENT="-1">
		<!-- add scripts if needed -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
		<script src="https://js.stripe.com/v3/"></script>

		<script type="text/javascript" src="{{url_for('static', filename='scripts/carousel.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='scripts/home_carousel.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='scripts/touch_events.js')}}"></script>

		<!-- scripts for handling cart -->
		<script type="text/javascript" src="{{url_for('static', filename='scripts/quick_shop.js')}}"></script>
    </head>
	<!-- url_for finds filepath for stylesheet -->
	<link rel="stylesheet" href="{{url_for('static', filename='sank_home.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='sidebar.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='carousel.css')}}">
    <body>
		<header class = "nav">
			<!-- button to search site -->
			<div class = cartListButton>
				<div id="cartListIcon">
					<button onclick="openCart()"><img src="{{url_for('static', filename='assets/shopping_bag.svg')}}">
					</button>
				</div>
				<div id="cartListText">
					<h3>0</h3>
				</div>
			</div>
			<div id="rightSidebar" class="sidebar">
				<a href="javascript:void(0)" class="closebtn" onclick="closeCart()">&times;</a>
					<!-- list all items in the cart -->
					<div id="cartList">
					</div>
			</div>
		</header>

		<!-- scripts for opening side menu -->
		<script type="text/javascript" src="{{url_for('static', filename='scripts/quick_cart.js')}}"></script>

		{% block content %}
		{% endblock %}
    </body>
</html>