{% extends "base.html" %}

{% block content %}
<br><br>
<script type="text/javascript" src="{{url_for('static', filename='scripts/shop_carousel.js')}}"></script>

<h1 id="pageHeading">ABOUT</h1>
<!-- Slideshow container -->
<div class="slideshow-container">
    <div class="homeSlides fade">
        <div class="aboutPage">
            <img src="{{url_for('static', filename='assets/Sank_Chew_Air_E_color_logo.svg')}}">
            {% autoescape false%}
                <p>{{about_text}}</p>
            {% endautoescape %}
            <div class="socials">
            {% for social in socials %}
                <img src="{{url_for('static', filename=social)}}" class="socialImage">
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="homeSlides fade">
        <div class = landing>
            <img src="{{url_for('static', filename='assets/Sank_Chew_Air_E_color_logo.svg')}}" class="landingImage">
            <h2 class="landingText">Be happy. Have fun. Get Good.</h2>
        </div>
    </div>
    <!-- Images for the carousel -->
    <div class="homeSlides fade">
        <!-- Start the shop carousel -->
        <!-- Background text and shop buttons -->
        <div class="shopItem">
            <input id="addButton" class="cartButton" type="image" onclick="quickAddItem()"
                   src="{{url_for('static', filename='assets/math_plus.svg')}}"/>
            <input id="removeButton" class="cartButton" type="image" onclick="quickRemoveItem()"
                   src="{{url_for('static', filename='assets/math_minus.svg')}}"/>
            <!-- Shop carousel items -->
            {% for item in new_arrivals %}
                <div class="merch">
                    <img src="{{url_for('static', filename=item.imageLink)}}" class="merchImage" id="itemImage">
                    <h2 class="itemDescriptor" id="itemId">{{item.id}}</h2>
                    <h2 class="name" id="itemName">{{item.name}}</h2>
                    <h2 class="price" id="itemPrice">${{item.price}}</h2>
                </div>
            {% endfor %}
        </div>
        <script>showMerch(0);</script>
    </div>
</div>

<!-- The dots/circles -->
<div style="text-align:center" class="dotContainer">
    <div class="dot">
        <h6 class="dotText">about</h6>
        <div class="dotIcon" onclick="dotClick(0);"></div>
    </div>
    <div class="dot">
        <h6 class="dotText">&nbsp</h6>
        <div class="dotIcon" onclick="dotClick(1);"></div>
    </div>
    <div class="dot">
        <h6 class="dotText">shop</h6>
        <div class="dotIcon" onclick="dotClick(2);"></div>
    </div>
</div>

<script>showSlides(1);</script>
<script>
    function dotClick(index){
        currentSlide(index);
        var index = getActiveImageIndex("merch");
        index++;
        resetTimeout(4000, index);
    }
</script>
<br>
{% endblock %}

