{% extends "base.html" %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

{% block content %}
    <h1>Store</h1>
    <h2>{{description}}</h2>

    <form action="/create-checkout-session" method="POST">
        <button type="submit">Checkout</button>
      </form>

    {% for item in items %}
        <h3>Item: {{item.name}}</h3>
        <h3>Description: {{item.description}}</h3>
    {% endfor %}

{% endblock %}