* {box-sizing:border-box}

#pageHeading {
    margin-top: 80px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  vertical-align: middle
  margin: auto;
  margin-top: 25%;
  z-index: 0;
  overflow-x: clip;
  overflow-y: visible;
}

/* Hide the images by default */
.homeSlides {
  display: none;
  height: 1000px;
  width: 100%
  z-index: -1;
  margin-top: 20px;
}

.carouselImage{
    display: block;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.aboutPage {
    margin-top: -140px;
    width: 95%;
}

.aboutLogo {
    width: 150px;
    height: 150px;
    margin-left: 40px;
}

.aboutText {
    margin-left: 40px;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.socialImage{
    height: 100px;
    width: 120px;
    padding-left: 30px;
}

.landing {
    display: block;
}

.landingImage {
    display: block;
    height: 700px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.landingText {
    font-family: avenir-heavy;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 85;
}

/* The dots/bullets/indicators */
.dot {
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    right: 50%;
}

.dotIcon {
    height: 35px;
    width: 35px;
    opacity: 40%;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotText {
    font-family: avenir-heavy;
    position: relative;
    top: 20%;
    font-size: 18px;
}

.dotContainer {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.active, .dotIcon:hover {
    opacity: 100%;
}

.dotIcon:active {
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Shop part of the carousel */
.merch {
  max-width: auto;
  z-index: -1;
}

.merchSlider {
    display: block;
}

.backgroundText h1 {
    position: absolute;
    margin-top: -40px;
    font-size: 100px;
    font-style: italic;
    white-space: nowrap;
    margin-left: -20px;
    z-index: -1;
    text-align: justify;
    color: #FF9933;
}

#previousMerchImage {
    position: absolute;
    margin-top: -100px;
}

#nextMerchImage {
    position: absolute;
    margin-top: 300px;
}

.merchImage {
    display: block;
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.cartButton {
    position: absolute;
    right: 30%;
    height: 120px;
    width: 120px;
    margin-top: -2%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#addButton {
    z-index: 2;
}

#removeButton {
    display: none;
    z-index: 1;
}

.cartButton:hover {
    opacity: 0.4;
}

.itemDescriptor {
    display: none;
}

.price {
    position: relative;
    color: #FFFFFF;
    font-family: avenir;
    font-weight: bold;
    font-size: 80px;
    left: 60%;
    bottom: 300px;
    z-index: 2;
}

.name {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: avenir-roman;
    font-size: 40px;
    padding-top: 10px;
}

#shopButton {
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-color: transparent;
    border-style: solid;
    border-radius: 25px;
    background-color: #FF9933;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

#shopButton:hover {
    opacity: 0.4;
}