* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  z-index: 0;
}

/* Hide the images by default */
.homeSlides {
  display: none;
  height: 350px;
  width: 100%
  z-index: -1;
  margin-top: 20px;
}

.carouselImage{
    display: block;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #000000;
  border-radius: 50%;
  margin-top: 30px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FF9933;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Shop part of the carousel */
.merch {
  display: none;
  max-width: auto;
  z-index: -1;
  margin-top: 20px;
}

.backgroundText h1 {
    position: absolute;
    margin-top: -40px;
    font-size: 100px;
    font-style: italic;
    white-space: nowrap;
    margin-left: -20px;
    z-index: -1;
    text-align: justify;
    color: #FF9933;
}

.merchImage {
    display: block;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.cartButton {
    position: absolute;
    top: 5%;
    right: 20%;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#addButton {
    z-index: 2;
}

#removeButton {
    display: none;
    z-index: 1;
}

.cartButton:hover {
    opacity: 0.4;
}

.itemDescriptor {
    display: none;
}

#shopButton {
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-color: transparent;
    border-style: solid;
    border-radius: 25px;
    background-color: #FF9933;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

#shopButton:hover {
    opacity: 0.4;
}