@font-face {
    font-family: graphic;
    src: url('/static/fonts/Graphik/Graphik-Black.otf') format('opentype');
}
@font-face {
    font-family: graphic;
    font-weight: light;
    src: url('/static/fonts/Graphik/Graphik-Light.otf') format('opentype');
}

@font-face {
    font-family: kuunari;
    src: url('/static/fonts/Kuunari_Black_Condensed/Kuunari_Black_Condensed.otf') format('opentype');
}

h1{
    font-family: kuunari;
}

h3{
    font-family: graphic;
    font-weight: light;
}

.homeDescription{
    color: grey;
}

.videoHeading {
    font-size: 40px;
}

a,
a img {
    text-decoration: none;
    outline: none;
    border: 0px none transparent;
}



