body{
    overscroll-behavior: none;
    }

.nav {
    display: flex;
    justify-content: flex-start;
    direction: rtl;
    background-color: transparent;
    height: 48px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -10px;
    z-index: 1;
}
.heading {
    font-size: 15px;
    color: white;
    margin-top: -14px;
    text-align: center;
    transition: margin-right .5s;
}

.heading a {
    color: white;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebarHeading{
    font-family: kuunari;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: -15px;
  font-size: 80px;
  color: #FF9933
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#sidebarButton {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
}

/* Search bar styles */
.search {
    display: none;
    margin-top: 10px;
    transition: 0.5s;
}

.cartBtn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    margin-top: 5px;
}

.cartBtn:hover{
    background-color: grey;
}

.cartListButton {
    display: flex;
    width: 80px;
    height: 78px;
    margin-top: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    color: #FF9933;
    font-size: 12px;
}

.cartListButton button {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
}

#cartListIcon {
    display: block;
    margin-left: 1px;
    margin-right: auto;
}

.cartListButton h3{
}

#newNotificationCircle {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 48%;
    right: 7.5%;
    visibility: hidden;
}


/* Styling for cart items list */
.cartListContainer {
    margin-top: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.cartItem {
    display: flex;
    flex-direction: row-reverse;
    height: 200px;
    width: 100%;
}

.cartItem h4 {
    color: #FF9933;
}

.cartItem img {
    position: relative;
    height: 150px;
    width: 150px;
    margin-left: 20px;
    align-self: center;
}

/* cartInfo contains cartName and cartQuantity */
.cartInfo {
    width: 430;
    margin-left: 20px;
}

/* cartName contains cartItemName and cartItemPrice */
.cartName {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.cartItemName {
    font-family: avenir-heavy;
    font-size: 45px;
    align-self: center;
}

.cartItemPrice {
    font-family: avenir-heavy;
    font-size: 45px;
    align-self: center;
}

/* cartDescription contains cartItemDescription and cartQuantity */
.cartDescription{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    font-size: 45px;
}

.cartItemDescription {
    font-family: avenir-book;
    font-size: 25px;
    margin-top: -15px;
    margin-left: 10px;
    color: #332D26;
    width: 60%;
    text-align: left;
}

.cartQuantity {
    display: flex;
    direction: row-reverse;
    justify-content: space-between;
}

.cartQuantity input {
    height: 40px;
    width: 40px;
}

.cartItemQuantity {
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
}

.checkoutBox {
    position: absolute;
    bottom: 40px;
}

.totalLine {
    margin-right: 70px;
}

.totalBox{
    display: flex;
    direction: ltr;
    color: #FF9933;
    font-size: 35px;
}

#cartTotal {
    position: absolute;
    right: 80px;
}

#checkoutButton {
    width: 500px;
    height: 100px;
    margin-right: 100px;
    font-family: 'avenir-heavy';
    font-size: 40px;
    color: #FFFFFF;
    background-color: #FF9933;
    border-color: transparent;
    border-radius: 20px;
}

#checkoutButton:disabled {
    background-color: #FAC591;
}

.closeSearchBtn {
    font-size: 36px;
    margin-top: -8px;
    margin-left: 15px;
    color: white;
}

.closeSearchBtn:hover {
    color: grey;
}

#searchBar {
  transition: margin-right .5s; /* If you want a transition effect */
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}