body{
    overscroll-behavior: none;
    }

header{
    display: flex;
    justify-content: space-between
}

.nav {
    background-color: black;
    height: 48px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -10px;
    z-index: 1;
}
.heading {
    font-size: 15px;
    color: white;
    margin-top: -14px;
    text-align: center;
    transition: margin-right .5s;
}

.heading a {
    color: white;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebarHeading{
    font-family: kuunari;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#sidebarButton {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
}

/* Search bar styles */
.search {
    display: none;
    margin-top: 10px;
    transition: 0.5s;
}

.searchbtn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    margin-top: 5px;
}

.searchbtn:hover{
    background-color: grey;
}

.closeSearchBtn {
    font-size: 36px;
    margin-top: -8px;
    margin-right: 15px;
    color: white;
}

.closeSearchBtn:hover {
    color: grey;
}

#searchBar {
  transition: margin-right .5s; /* If you want a transition effect */
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}