{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='store/store.css')}}">
    <!-- scripts for handling cart -->
    <script type="text/javascript" src="{{url_for('static', filename='store/store.js')}}"></script>
    <h1>Store</h1>
    <h2>{{description}}</h2>

    <div class="merchItem">
    {% for item in items %}
        <h2>Item: {{item.name}}</h2>
        <h2 id="itemId">{{item.id}}</h2>
        <div class="productImage">
            <img src="{{url_for('static', filename=item.imageLink)}}">
        </div>
        <h3>Description: {{item.description}}</h3>
        <button id="cartButton" onclick="addToCart()" type="submit">Add To Cart</button>
    {% endfor %}
    </div>

    <button onclick="submitCheckout()" type="submit">Checkout</button>
{% endblock %}
