## List of jinja functions for use on the website

## Function to change language code of an existing site
{% macro change_lang_code(lang_code) %}
	{% set path_split = request.path.split('/') %}
	{% set path_url_array = [] %}
	{% set count = [] %}

	{% for path in path_split %}
		{% if count | length > 1 %}
			{% if path != '' %}
				{{ path_url_array.append(path) or ""}}
			{% endif %}
		{% endif %}
		{{ count.append(1) or ""}}
	{% endfor %}

	{% set path_url = '/' ~ path_url_array|join('/') %}
	{% set new_url = request.url_root ~ lang_code ~ path_url %}
	{{ new_url }}
{% endmacro %}

{% macro get_num_items_for_lang(lang_code, items) %}
	{% set count = [] %}
	{% for item in items %}
		{% if item.language == lang_code %}
			{{ count.append(1) or ""}}
		{% endif %}
	{% endfor %}
	{{ count|length }}
{% endmacro %}