{% extends "base.html" %}

{% block content %}

<br><br>
<div class = "homepage">
    <img src="{{url_for('static', filename=logo)}}" class="homeImage">
    <div class="homepageText">
        <div class="leadInTextContainer">
            <h1 class="flavorNumber">1</h1>
            <div>
                <h1 class="leadInText">HUMBLE PILL</h1><br>
                <div style="display: flex; margin-top: -10px;">
                    <h1 class="leadInText">A DAY</h1>
                    <h1 class="endLeadInText">TAKES THE EGO AWAY</h1>
                </div>
            </div>
        </div>
        {% autoescape false%}
        <h2 class="homeText">{{home_text}}</h2>
        {% endautoescape %}
        <h2 class="sloganText">"Be happy. Have fun. Get Good."</h2>
    </div>

</div>
{% endblock %}

