{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/store/store.css')}}">

    <div class="storeListItems">
    {% if available_merch|length > 0 %}
    {% for item in available_merch %}
        <div class="storeItem">
            <div class="storeItemProperties">
                <a href= {{url_for('main.shop', index=(loop.index-1))}} class="shopLink">
                    <img src="{{url_for('static', filename=item.images[0].imageLink)}}" class="storeImage" id="itemImage">
                    <h2 class="itemDescriptor" id="itemId">{{item.id}}</h2>
                    <h2 class="storeName" id="itemName">{{item.name}}&ndash; <b>${{'%0.2f' % item.price}}</b></h2>
                </a>
            </div>
            {% if item.quantity <= 0 %}
            <h2 class="soldOutText" id="soldText">SOLD OUT</h2>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    </div>
{% endblock %}